.jumbotron {
  text-align: center;
  color: lightyellow;
  text-shadow: 1px 1px black;
  background-image: url("../img/tablecloth.jpg");
  background-size: 100%;
}

.container {
  width: 75%;
}

.showPrice {
  display: none;
}

#priceGraph {
  margin-top: 10px;
}
